autostart:
  Apache Web Server: true
  MySQL Database: true
  Node.js Service: true
  PHP Version: true
general:
  auto_start_all: false
  auto_update: false
  auto_vhost: true
  theme: dark
  close_behavior: ask
ports:
  Apache Web Server: 80
  MySQL Database: 3306
  Node.js Service: 3000
  PHP Version: 9000
services_enabled:
  Apache Web Server: true
  MySQL Database: true
  Node.js Service: true
  PHP Version: true
services_ssl: {}
versions: {}
